table, tr, td{
    border: solid 1px black;
    font-family: franklin gothiv medium;
    font-style; italic;
    text-align: center;
}

#cor{
    background-color: blue;
    text-align: center;
    color: aliceblue;
}

#coor{
    background: linear-gradient(to right, #ff00dd, #785494);
}

#cidade{
    background-color: yellow;
}